#links {
  float: right;
  height: 50px;
}

#main-nav.navbar-brand {
  padding-left: 0px;
}

/*body {
  background: url("/img/secondbug.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.icon-addon {
  margin-right: 5px;
}

#title h2 {
  font-weight: 300;
}

.categories {
  margin-top: 20px;
}

.list-group.questions .list-group-item {
  padding: 20px;
}

.leaderboard-button {
  vertical-align: middle;
  line-height: 27px;
  background-color: #F5F6FA;;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  padding: 0 12px;
  text-align: center
}

.leaderboard-button:hover {
  border-color: #b9b9b9;
  color: #2f4f4f;
}

.leaderboard-button:focus {
  outline: none;  
}

/* center modal */
body.modal-open .modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.delete-button {
  margin-right: 10px;
}

#usernameForm {
  margin-top: 20px;
}

#usernameSubmitButton {
  font-size: 16px;
  width: 100px;
  margin-top: 5px;
}

input[name=username] {
  width: 80%;
  margin: auto;
}

.modal-header {
  background-color: rgba(0,0,0,.04);
}

.delete-button, .edit-button {
  vertical-align: middle;
  line-height: 27px;
  background-color: #F5F6FA;;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0 12px;
  text-align: center
}

.delete-button:hover, .edit-button:hover {
  border-color: #b9b9b9;
  color: #2f4f4f;
}

.delete-button:focus, .edit-button:hover {
  outline: none;  
}
